@media screen and (min-width:768px){
    .app-row, .app-col, .app-container{
        display: flex;
        flex-wrap: wrap;
        }
        .w-60{
            width: calc(100%/3 * 2);
        }
        .w-40{
            width: calc(100%/3);
        }

        .w-33{
            width: calc(100%/3);
        }

        .img-row{
            display: flex;
            align-items: center;

        }
        .w-50{
            width: calc(100%/2);
        }
}