*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 100px;
    background-color: #0084ff;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.header-row{
    width: 90%;
    margin: 0 auto;
}

.app-card{
    background-color: #b5ddff;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.app-col{
    width: 100%;
}

.img-width{
    width: 100%;
}

.app-container{
    width: 80%;
    margin: 0 auto;
}

.planning-container{
    background-color: #9792e4;
    margin: 0 auto;
}

.planning-row{
    width: 80%;
    margin: 0 auto;
}

.planning-img{
    width: 100%;
}

.white-card{
    background-color: white;
    border-radius: 20px;
}

.testimonial-card{
    background-color: #9792e4;
}

.violet{
    background-color: #9792e4;
}

.benefits-container{
    width: 100%;
    margin: 0 auto;
}

.img-border-radius{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 80%;
}

.about-us{
    padding: 20px;
    margin: 20px;
}

.violet-button{
    background-color: #9792e4;
    color: white;
    border-radius: 30px;
    width: auto;
    padding: 10px;
    border: none;
}

.header-button{
    background-color: #0084ff;
    color: aliceblue;
    border-radius: 30px;
    width: auto;
    padding: 10px;
    border: none;
}